
/*.body{
    background: linear-gradient(176deg, rgba(37,150,190,1) 0%, rgba(82,98,115,1) 82%);
    background-color: #5cb85c;
}*/


body{
    background: rgb(222,229,236);
    background: linear-gradient(176deg, rgba(222,229,236,1) 100%, rgba(37,150,190,1) 100%);
}

h1{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background: rgb(37,150,190);
    background: linear-gradient(176deg, rgba(37,150,190,1) 14%, rgba(222,229,236,1) 55%);
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: larger;
}



 footer{
    background: rgb(222,229,236);
    background: linear-gradient(176deg, rgba(222,229,236,1) 82%, rgba(37,150,190,1) 83%); 
}
.modal-body {
    overflow-x: auto; 
    max-height: 400px; 
    overflow-y: auto;  
}



.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .play-bold {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

  .table-container {
    padding: 30px;
}

.table {
    table-layout: auto;
    width: 100%; 
    margin-bottom: 0; 
}



.product-f-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.btn-primary{
    background-color: #2596be;
    border-color: #2596be;
}

.btn-primary:hover{
    background-color: #107294;
}
.error-message{
    color:red;
    margin-right: 10px;
    padding: 10px;
    
}
.success-message{
    color:#5cb85c;
    margin-right: 10px;
    padding: 10px;
}


.stock-c-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.img-tarjeta {
    width: 250px;
    height: auto;
  }



.size-logo{
    width: 75px;
}

.info-web{
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.buttons-main{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.sort-btn{
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sort-div{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}


.filter-div{
margin-left: 10px;
}

.btn-categories{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 30px;
}


table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

th, td {
    border: 1px solid #ddd;
    padding: 20px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

th {
    background-color: #007bff;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}

td {
    text-align: center;
}

